<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Integrante</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .content {
            display: flex;
            justify-content: center; /* Centra horizontalmente el contenido */
            align-items: center; /* Centra verticalmente el contenido */
            height: 100vh; /* Ajusta la altura al 100% de la ventana */
        }

        .container {
            width: 400px; /* Ancho del contenedor */
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
            text-align: left;
        }

        input[type="text"],
        input[type="number"],
        input[type="checkbox"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            background-color: #491D57;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #3c1446;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="container">
            <h1>Crear Nuevo Integrante</h1>
            <form action="/admin/integrantes/create" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br>

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required><br>

                <label for="matricula">Matrícula:</label>
                <input type="text" id="matricula" name="matricula" required><br>

                <label for="activo">Activo:</label>
                <input type="checkbox" id="activo" name="activo" value="1"><br>

                <label for="orden">Orden:</label>
                <input type="number" id="orden" name="orden" required><br>

                <button type="submit">Crear Nuevo</button>
            </form>
        </div>
    </div>
</body>
</html>