<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        h1, h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #333;
        }

        a:hover {
            color: #555;
        }
    </style>
</head>
<body>
    <h1>Tablas</h1>
    <div class="content">
        <div class="container">
            <h2 class="mb-5">Integrantes</h2>
            <div class="table-responsive custom-table-responsive">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <label class="control control--checkbox">
                                    <input type="checkbox" class="js-check-all" />
                                    <div class="control__indicator"></div>
                                </label>
                            </th>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Orden</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each integrantes}}
                        <tr>
                            <th scope="row">
                                <label class="control control--checkbox">
                                    <input type="checkbox" />
                                    <div class="control__indicator"></div>
                                </label>
                            </th>
                            <td>{{this.id}}</td>
                            <td>{{this.nombre}}</td>
                            <td>{{this.apellido}}</td>
                            <td>{{this.matricula}}</td>
                            <td>{{this.activo}}</td>
                            <td>{{this.orden}}</td>
                        </tr>
                        <tr class="spacer"><td colspan="100"></td></tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined">home</span>
        </a>
        <div class="title-container">
            <b>Tabla Integrantes</b>
        </div>
        <div class="placeholder"></div> <!-- Un elemento de relleno para ayudar en la centración -->
    </div>
    <div class="container">
    <h2 class="mb-5">Integrantes</h2>
    <!-- Botón para crear un nuevo integrante -->
    <button type="button" class="button-40" onclick="location.href='/admin/entidad1/create'">
        <span class="text">Crear Nuevo</span>
    </button>
    <div class="table-responsive custom-table-responsive">
        <!-- Tabla de integrantes -->
    <a href="/admin">Volver</a>

</html>