<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Colores</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff; /* Fondo blanco */
            color: #000000; /* Texto negro */
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .header-bar {
            background-color: #491D57;
            color: #ffffff;
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .title-container {
            flex-grow: 1;
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #f40a0a;
        }

        th {
            background-color: #b71d1d;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .volver-button, .button-40 {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            color: #ffffff; /* Texto blanco */
            background-color: #491D57;
            border-radius: 8px;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s ease, background-color 0.3s ease;
            margin: 5px;
        }

        .volver-button:hover, .button-40:hover {
            background-color: #5f2c82;
        }

    </style>
</head>
<body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined"></span><b>Volver</b>
        </a>
        <div class="title-container"><b>Tabla Colores</b></div>
        <a href="/admin/colores/crear" class="button-40">Crear Nuevo</a>
    </div>

    <div class="container">
        <h2>Colores</h2>
        <table>
            <thead>
                <tr>
                    <th>ID Integrante</th>
                    <th>Color de Fondo</th>
                    <th>Color de Cabecera</th>
                    <th>Color de Sección</th>
                </tr>
            </thead>
            <tbody>
                {{#each colores}}
                <tr>
                    <td>{{this.integranteId}}</td>
                    <td style="background-color: {{this.background}};">{{this.background}}</td>
                    <td style="background-color: {{this.headerBackground}};">{{this.headerBackground}}</td>
                    <td style="background-color: {{this.sectionBackground}};">{{this.sectionBackground}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="button-container">
            <a href="/admin" class="volver-button">
                <span class="material-icons">Volver</span>
            </a>
        </div>
    </div>
</body>
</html>